[run]
branch = True
source = eqcorrscan
concurrency = multiprocessing,thread
omit =
  eqcorrscan/__init__.py
  eqcorrscan/*/__init__.py
  eqcorrscan/tests/*
  eqcorrscan/utils/timer.py
  eqcorrscan/utils/src/*
  eqcorrscan/lib/*
[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    if 0:
    if __name__ == "__main__":
ignore_errors = True
