[run]
omit =
  eqcorrscan/__init__.py
  eqcorrscan/*/__init__.py
  eqcorrscan/core/match_filter_internal.py
  eqcorrscan/tests/*
  eqcorrscan/utils/gui/*
  eqcorrscan/utils/timer.py
  eqcorrscan/utils/plotting.py
