*.so
*.pyc
*.log
.Spotlight-V100
.Trashes
.DS_Store
*.buf
*.hdr
templates
stdout_*
matchout_*
stderr_*
matcherr_*
build
dist
EQcorrscan.egg-info
.cache
.eggs
.tox
eqcorrscan/tutorials/*.jpg
pytest_runner*
.coveralls.yml
.coverage
eqcorrscan/doc/_build
eqcorrscan/doc/submodules/autogen
*L.S??????
*R.S??????
.idea
.coverage.*
dt.c*
phase.dat
eqcorrscan/utils/src/norm
eqcorrscan/utils/src/multi_corr
libfftw*.lib
eqcorrscan/utils/lib/*.pyd
eqcorrscan/utils/lib/*.def
eqcorrscan/utils/lib/*.dll
eqcorrscan/utils/lib/fftw3.h
.pytest_cache
