*.so
*.pyc
*.log
.Spotlight-V100
.Trashes
.DS_Store
*.buf
*.hdr
templates
stdout_*
matchout_*
stderr_*
matcherr_*
build
dist
EQcorrscan.egg-info
.cache
.eggs
.tox
eqcorrscan/tutorials/*.jpg
pytest_runner*
.coveralls.yml
.coverage
eqcorrscan/doc/_build
eqcorrscan/doc/submodules/autogen
station.dat
*L.S??????
*R.S??????
.idea
