*.so
*.pyc
*.log
.Spotlight-V100
.Trashes
.DS_Store
*.ms
*.buf
*.hdr
templates
stdout_*
matchout_*
stderr_*
matcherr_*
build
dist
EQcorrscan.egg-info
*.xml
.cache
.eggs
.tox
eqcorrscan/tutorials/*.jpg
pytest_runner*
