# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/python

jobs:

- job: 'Test'
  pool:
    vmImage: 'Ubuntu 16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: CondaEnvironment@0
    inputs:
      environmentName: 'eqcorrscan-test-env-$(python.version)'
      packageSpecs: 'python=$(python.version)'

  - script: conda install -n 'eqcorrscan-test-env-$(python.version)' obspy pyproj flake8 mock coverage bottleneck h5py
    displayName: 'Install conda libraries'

  - script: |
      pip install pep8-naming pytest pytest-cov pytest-pep8 pytest-xdist pytest-rerunfailures pytest-mpl codecov
      py.test --runslow -m "not serial and not network" -n 2;
      export OMP_NUM_THREADS=2;
      py.test -m "serial and not network" --cov-append;
      py.test --runsuperslow -s eqcorrscan/tests/tutorials_test.py --cov-append;
    displayName: 'pytest'

