# Annoyingly, although the long-description is found by setup.py it is not included
# in pypi's archive of the package, we need to include it here...

include README.md
# include eqcorrscan/test_data/tutorial_data.tgz
# include eqcorrscan/tutorial.py
recursive-include eqcorrscan/utils *.py
# recursive-include eqcorrscan/par *.py
# recursive-include eqcorrscan/scripts *.py
recursive-include eqcorrscan/tutorials *.py
recursive-include eqcorrscan/doc *
recursive-include eqcorrscan/core *.py
recursive-include eqcorrscan/tests *.py

# exclude rules
# global-exclude *.pyc *.ms *.tgz
prune eqcorrscan/doc/_build/latex
prune eqcorrscan/plot
prune eqcorrscan/detections
prune eqcorrscan/grid
prune eqcorrscan/tests/test_data
prune misc
# prune eqcorrscan/stack_templates
# prune eqcorrscan/templates
